img.profile_img{
  height:650px;
  cursor:pointer;
}
.character, .door_front {
  @include transition(all 1s ease 0s);
}

.door_back, .character, .door_front {
  background: url("../images/door.png") no-repeat;
}

.door_back {
  position: relative;
  margin: auto;
  height: 410px;
  cursor:pointer;
  @include perspective(1000px);
}

.character {
  position: absolute;
}

.door_front {
  position: absolute;
}

#keykun {
  .door_back {
    width: 220px;
    background-position: 0px 0px;
  }
  .character {
    right: 25px;
    bottom: 30px;
    background-position: 0px -910px;
    height: 220px;
    width: 150px;
  }
  .open .character {
    right:85px;
    bottom: 0;
  }
  .door_front {
    right: 33px;
    bottom: 24px;
    width: 169px;
    height: 342px;
    background-position: -18px -453px;
    @include transform-origin(100% 50%);
  }
  .open .door_front {
    @include transform(rotateY(60deg));
  }
}

#fuji {
  .door_back {
    width: 250px;
    background-position: -220px 0px;
  }
  .character {
    right: -14px;
    bottom: -22px;
    background-position: -280px -830px;
    height: 300px;
    width: 165px;
    @include transform(rotate(15deg) scale(0.7, 0.7));
  }
  .open .character {
    right: 30px;
    bottom: 10px;
    @include transform(rotate(0deg) scale(1, 1));
  }
  .door_front {
    right: 25px;
    bottom: 24px;
    width: 97px;
    height: 342px;
    background-position: -348px -453px;
    @include transform-origin(100% 50%);
  }
  .open .door_front {
    @include transform(rotateY(60deg));
  }
}

#ganchan  {
  .door_back {
    width: 260px;
    background-position: -470px 0px;
  }
  .character {
    right: 22px;
    bottom: 30px;
    background-position: -490px -900px;
    height: 225px;
    width: 205px;
    @include transform(scale(0.69, 1));
  }
  .open .character {
    right: 50px;
    bottom: 30px;
    @include transform(scale(1, 1));
  }
  .door_front {
    right: 50px;
    bottom: 24px;
    width: 154px;
    height: 342px;
    background-position: -526px -453px;
  }
  .open .door_front {
    right: 17px;
  }
}

#mori  {
  .door_back {
    width: 230px;
    background-position: -730px 0px;
  }
  .character {
    right: -5px;
    bottom: 5px;
    background-position: -785px -945px;
    height: 180px;
    width: 145px;
    @include transform(rotate(43deg) scale(0.85, 0.85));
  }
  .open .character {
    right: 65px;
    bottom: 10px;
    @include transform(rotate(0deg) scale(1, 1));
  }
  .door_front {
    right: 17px;
    bottom: 10px;
    width: 109px;
    height: 330px;
    background-position: -834px -479px;
    @include transform-origin(100% 50%);
  }
  .open .door_front {
    @include transform(rotateY(60deg));
  }
}

.profile-text {
  display: none;
  text-align: center;
}
