.kinoko {
  display: block;
  width: 100%;
  height: 150px;
  @media (max-width: $screen-xs-max) {
    height: 80px;
    @include background-size(auto 80px);
  }
  text-indent: -3000px;			
  background-image: url("/images/kinoko.gif");
  background-repeat: repeat-x;
  position: fixed;
  bottom: 0px;
}
.kinoko.start {
  @include animation(6s linear 0s normal none infinite kinokoStartANIME);
  @include transform-origin(0 100%);
}
@include keyframes(kinokoStartANIME) {
  0%   { transform: skew(0deg);  }
  20%  { transform: skew(5deg);  }
  40%  { transform: skew(-7deg); }
  70%  { transform: skew(5deg);  }
  85%  { transform: skew(-2deg); }
  100% { transform: skew(0deg);  }
}
