<%#nav class="header navbar navbar-default" role="navigation"%>
<nav id="header-wraper" class="header navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span>Menu</span>
      </button>
      <a class="logo navbar-brand" href="index.html"><img src="images/logo.gif" class="img-responsive header-logo" alt="logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <% data.menu.each do |i| %>
          <li><a href="<%= i.link %>" title="<%= i.title %>"><%= i.name %></a></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
