---
meta_keywords: Mushlee,マシュリー,コンタクト
meta_description: 下北沢で活動中のバンド Mushlee ( マシュリー ) へのご連絡はこちらのページから。
---
<div class="container">
  <div class="row">

    <div id="twitter" class="col-sm-8">
      <a class="twitter-timeline"  href="https://twitter.com/mushlee00"  data-widget-id="317252477735018496">@mushlee00 からのツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div id="facebook" class="col-sm-4">
      <a href="http://www.facebook.com/profile.php?id=100005512836318"><img src="images/mushlee_facebook_icon.gif" alt="facebook"></a>
    </div>

  </div>
</div>
