<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mushlee | マシュリー</title>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/default.css" />
<link rel="stylesheet" href="css/top.css" />
<link rel="stylesheet" href="css/profile.css?var=20130616" type="text/css" /-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
<link rel=”canonical” href="../index.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/profile.js?var=20130616"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55035473-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="contents">

  <div class="main">
    <div class="main-img">
      <!--
      <p>
        <span class="mush_color">Mushlee</span>は<br>
        下北沢で活動している<br>
        女の子がボーカルの<br>
        バンドです<br>
        ポップな曲を<br>
        メンバー４人で<br>
        作っています
      </p>
      -->
      <img src="images/baku.gif" class="img-responsive" alt="mushlee">
    </div>

    <div class="menu">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="thumbnail">
            <img class="profile_img img-responsive" src="images/keykun_off.gif" name="keykun">
            <div class="caption">
              <h3>Keykun</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="thumbnail">
            <img class="profile_img img-responsive" src="images/fuji_off.gif" name="fuji">
            <div class="caption">
              <h3>Fuji</h3>
            </div>
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-3">
          <div class="thumbnail">
            <img class="profile_img img-responsive" src="images/ganchan_off.gif" name="ganchan">
            <div class="caption">
              <h3>Ganchan</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="thumbnail">
            <img class="profile_img img-responsive" src="images/mori_off.gif" name="mori">
            <div class="caption">
              <h3>Mori</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="notice">
        <h3><span>concert</span></h3>
        <dl class="dl-horizontal">
          <dt>2015/07/05</dt><dd><a href="http://waverwaver.net/">Shimokitazawa WAVER</a></dd>
        </dl>
      </div>
    </div>

  </div><!-- /#main" -->

  <div class="footer">
    <div id="copyright">©Mushlee</div>
  </div>
</div><!-- /#contents -->
<a class="kinoko" href="#" title="pagetop"></a>
</body>
</html>
