<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="css/default.css?var=20130615" />
<link rel="stylesheet" href="css/top.css?var=20130615" />
<link rel="stylesheet" href="css/gradients.css?var=20130615" />
<title>Mushlee | マシュリー</title>
<!--
<link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />
-->
<!--
<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
-->
<style>

#kg {
  position: fixed;
  right: 10%;
  bottom: 20%;
}
#web {
  position: fixed;
  left: 3%;
  top: 20%;
}
#blog {
  position: fixed;
  right: 3%;
  top: 20%;
}
#live {
  position: fixed;
  width: 100%;
  right: 0%;
  bottom: 30%;
}
#twitter {
  position: fixed;
  right: 0%;
  width: 100%;
  bottom: 20%;
}
#web h1, #web h2, #web img, 
#blog h1, #blog h2, #blog img, 
#live h1, #live ul, #live li,
#twitter h1, #twitter h2, #twitter img {
  display: block;
  position: static;
  margin: 4px auto;
}
#web h1, #blog h1, #live h1, #twitter h1{
  color: #E50004;
  text-align: center;
}
#live li, #twitter h2{
  text-align: center;
}
</style>
</head>
<body>
<div class="main">
  <ul id="main_menu">
  </ul>
  <div id="kg">
    <div class="noticeWrapper">
      <div class="girlKinoko">
        <div class="redKinoko play">
          <div class="redKinokoImg"></div>
        </div>

        <div class="kinoko_girl play">
          <div class="all_FRAME_ANIME">
            <div class="body_ANIME">
              <div class="body"></div>
            </div>
            <div class="head_ANIME">
              <div class="head"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!-- /#kg" -->

  <div id="web">
    <h1>mushleeのwebサイト</h1>
    <h2>http://mushlee.web.fc2.com/</h2>
    <img src="images/qr_mushlee.gif" alt="web qr">
  </div>
  <div id="blog">
    <h1>ブログやってます</h1>
    <h2>http://mushlee.hatenablog.com/</h2>
    <img src="images/qr_blog.gif" alt="blog qr">
  </div>
  <div id="live">
    <h1>次回ライブ</h1>
    <ul>
      <li>4/5 下北沢WAVER</li>
    </ul>
  </div>
  <div id="twitter">
    <h1>twitter</h1>
    <h2>@mushlee00</h2>
  </div>

</div><!-- /#main" -->

</div><!-- /#contents -->

<a class="kinoko play start" href="#" title="pagetop">pagetop</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="js/change_bg.js"></script>
</body>
</html>
