---
meta_keywords: profile,プロフィール,Mushlee,マシュリー
meta_description: 下北沢で活動中のバンド Mushlee ( マシュリー ) のプロフィールです。メンバーの特徴や好きなアニメを紹介しています。
---
<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-6">
      <div id="keykun">
        <div class="door_back">
          <div class="character"></div>
          <div class="door_front"></div>
        </div>
        <div class="caption">
          <h3>きーくん</h3>
          <h4>特徴</h4>
          <p>キリスト</p>
          <h4>好きなアニメ</h4>
          <p>西尾維新物語シリーズ</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div id="fuji">
        <div class="door_back">
          <div class="character"></div>
          <div class="door_front"></div>
        </div>
        <div class="caption">
          <h3>フジ</h3>
          <h4>特徴</h4>
          <p>ドS</p>
          <h4>好きなアニメ</h4>
          <p>忘念のザムド</p>
        </div>
      </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6">
      <div id="ganchan">
        <div class="door_back">
          <div class="character"></div>
          <div class="door_front"></div>
        </div>
        <div class="caption">
          <h3>Ganchan</h3>
          <h4>特徴</h4>
          <p>たまご嫌い</p>
          <h4>好きなアニメ</h4>
          <p>涼宮ハルヒの憂鬱</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div id="mori">
        <div class="door_back">
          <div class="character"></div>
          <div class="door_front"></div>
        </div>
        <div class="caption">
          <h3>もり</h3>
          <h4>特徴</h4>
          <p>笑うせえるすマンが苦手</p>
          <h4>好きなアニメ</h4>
          <p>青春男と電波女</p>
        </div>
      </div>
    </div>

  </div>
</div>
